@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css");
/* Global Css */
h1, h2, h3, h4, h5, h6, p {
    font-family: sans-serif;
    color: #002691;
    font-style: normal;
    font-weight: bold;
}

p{
    font-style: italic
}

img {
    max-width: 100%;
    height: auto;
}

.btn{
    background: #ff007a;
    border: none;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0;
    padding: 18px 45px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.button {
    background: #ff007a;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    line-height: 1;
    padding: 14px 40px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

table {
    width: 100%;
}

tr {
    color: #002691;
    text-align: center;
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
}

th {
    color: white;
    padding: 10px;
    background-color: #011627;
}

td {
    padding: 5px;
}
.site-logo{
    display: none;
}

form {
    padding: 40px;
}

form:focus {
    border: 2px solid black;
}

.js-form-item{
    display: flex;
    flex-direction: column;
}

.js-form-item label{
    font-size: 20px;
    font-weight: bold;
    color: #002691;
}

.form-text{
    width: 50%;
    margin-left: 1px !important;
    font-size: 14px;
    opacity: 78%;
    outline: 0;
    padding: 15px;
    background-color: white;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
}

.form-text:focus {
    border: 2px solid black;
}

.form-email {
    margin-left: 1px !important;
    width: 50%;
    font-size: 14px;
    opacity: 78%;
    outline: 0;
    padding: 15px;
    background-color: white;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
}

.form-email:focus {
    border: 2px solid black;
}

.form-text, .form-number, .form-textarea{
    margin: 15px !important;
    margin-left: 1px !important;
    border: 1px solid #ccc;
}

.form-textarea-wrapper textarea {
  width: 70%;
  padding-bottom: 30px;
}

.form-number{
    width: 50%;
    margin-left: 1px !important;
    font-size: 14px;
    opacity: 78%;
    outline: 0;
    padding: 15px;
    background-color: white;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
}

.form-number:focus {
    border: 2px solid black;
}

.description{
    color: #002691;
    font-weight: bold;
}
.js-form-required{
    font-weight: bold;
}

.path-user .user-login-form,.user-register-form,.user-pass{
   padding: 200px 100px;
   background: gainsboro;
}

.toolbar-horizontal .tabs{
    display: flex;
    padding-top: 6px;
}

.path-frontpage .block-system-main-block{
    display: none;
}

/* Css for sidebar first and sidebar second */
.toolbar-horizontal .side-con{
    display: flex;
  }
  .toolbar-horizontal .sidebar-first, .toolbar-horizontal .sidebar-second{
    width: calc(25% - 20px);
  }
  .toolbar-horizontal .region-content{
    width:100%;
  }

/* Css for search block */
 .search-block-form{
    background:#edf5ff;
  }
  .search-block-form form{
      padding: 15px;
  }
  .search-block-form h2 {
    padding-left: 18px;
    font-size: 20px;
    font-family: cursive;
    margin: 0;
}

  .search-block-form .form-search{
    border-color: black;
    height: 28px;
}
/* menu of footer */
footer .menu-item{
    margin-bottom: 10px;
}
footer .menu-item a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}
footer .menu-item a:hover{
    font-weight: 900;
    font-size: 18px;
    color: #ff0088;
}

/* Css for banner */
.banner-region {
    width: auto;
}

.region-content {
    min-height: 700px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #002691;
    padding: 5px 100px;
}
.header .block-menu{
 order: 1;
}
.header .site-logo img{
  max-height: 73px;
  vertical-align: middle;
}

.header .nav-menu {
    margin: 0;
    padding: 20px 0;
    background: #002691;
    display: flex;
    justify-content: center;
    list-style: none;
}

.header .nav-menu li {
    position: relative;
    padding: 15px 20px;
    margin-left: 40px;
}

.header .nav-menu li>a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.header .nav-menu li>a:hover {
    color: #e83e8c;
}

.header .nav-menu .nav-menu-sub {
    background-color: white;
    padding-left: 0;
    border-top: 3px solid #e83e8c;
    min-width: 200px;
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
}

.header .nav-menu .nav-menu-sub li a {
    color: #002691;

}

.header .nav-menu li:hover ul {
    list-style: none;
    display: block;
    color: white;
    z-index: 1;
}

.header .nav-item--expanded:after {
    content: "+";
    align-self: center;
    color: #fff;
    font-weight: bold;
}
/* Css for banner section */

.Bannner {
    overflow-x: hidden;
}

.banner1 img {
    width: 100%;
    height: auto;
}

.banner2 img {
    width: 100%;
    height: auto;
}

.Banner .parent-banner {
    height: 200px;
    position: relative;
}

.Banner .banner2 {
    position: absolute;
    top: 0;
    opacity: 0.7;
}

.Banner .views-field-field-image img {
    position: relative;
    bottom: 140px;
    left: 1020px;
    transform: translateX(-15%);
    transition: bottom 4s, left 2s;
}

.Banner .views-field-field-image img:hover {
    left: 75%;
    bottom: 2px;
}

/* Css for tabs section */

.tabs li {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}

.tabs li .is-active {
    border-bottom-color: #fff;
    background-color: #fff;
}

.tabs li a {
    color: #000;
    border-width: 1px;
    border-style: solid solid none solid;
    border-color: #bbb;
    background-color: #ededed;
    font-size: 0.929em;
    line-height: 1.9;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/* Css for join-event section */

.join-event .event-img {
    background: #fff5f5;
    display: inline-block;
    width: 158px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    padding: 48px 0;
    margin-bottom: 30px;
}

.join-event {
    display: flex;
    flex-wrap: wrap;
}

.join-event .col-1, .col-2 {
    max-width: 50%;
}

.join-event li {
    list-style: none;
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 50px;

}

.join-event li span {
    position: absolute;
    top: 18px;
    right: -8px;
    background: #ff007a;
    width: 34px;
    padding: 7px 0;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    border: 2px solid #fff;
}

.join-event li p {
    font-size: 22px;
    font-style: normal
}

.join-event .col-2 .event-title {
    font-size: 16px;
    font-weight: bold;
    color: #ff007a;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 20px;
}

.join-event .col-2 h2 {
    font-size: 60px;
    margin-bottom: 35px;

}

.join-event .col-2 h5 {
    color: #00a8ff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.join-event .col-2 p {
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
    color: #47759d;
    margin-bottom: 15px;
    position: relative;
    z-index: 8;
}

.block-views-blockevent-speakers-block-1 {
    background: #f6fbff;
}

/* Css for event speaker section  */

.event-inner-row{
    border: 3px solid #edf5ff;
}
.event-speakers {
    padding: 80px 0;
}

.event-speakers h2 {
    text-align: center;
    font-size: 55px;
}

.event-speakers h5 {
    font-size: 18px;

}

.event-speakers .speakers-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.event-speakers .speakers-list p {
    color: #e83e8c;
    font-weight: 500;
}

.event-speakers .speakers-list span {
    font-size: 16px;
    transition: .3s;
    color: #96b3cd;
    padding-top: 10px;
    display: block;
}

.event-speakers .team-social {
    border-bottom: 1px solid #96b3cd;
    padding-bottom: 15px;
}

.event-speakers .team-social a {
    font-size: 14px;
    color: #96b3cd;
    margin: 0 3px;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 2px solid #e2edff;
    border-radius: 50%;
}

.event-speakers li {
    max-width: 25%;
    list-style: none;
    background: #fff;
    margin-bottom: 20px;
}

.event-speakers .team-info {
    text-align: center;
    margin-left: 15px;
    margin-right: 20px;
    transform: translateY(0);
    padding: 30px 20px 30px;
}

.event-speakers .team-thumb {
    text-align: center;
}

.event-speakers .team-thumb .img {
    padding-top: 40px;
}

/* Css for event trend */

.event-on-trend {
    padding: 90px 0;
}

.event-on-trend .view-header h2 {
    text-align: center;
    font-size: 55px;
}

.event-trend-row {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event-on-trend .col-1 {
    max-width: 20%;
}

.event-on-trend .col-1 h5 {
    font-size: 18px;
    margin-top: 5px;
}

.event-on-trend .col-1 p {
    font-size: 14px;
    font-weight: bold;
    color: #ff007a;
}

.event-on-trend .col-1 ul {
    list-style: none;
}

.event-on-trend .col-2 {
    max-width: 80%;
}

.event-list-content {
    margin-left: 50px;
    margin-right: 20px;
    padding: 50px;
    position: relative;
    border: 10px solid #edf5ff;
}

.event-list-content:hover {
    border-color: #e83e8c;
}

.event-list-content .btn {
    background: none;
    border: 2px solid #edf5ff;
    color: #47759d;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px
}

.event-list-content .btn:hover {
    background: #ff007a;
    border: 2px solid #ff007a;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
    box-shadow: 0px 10px 19px 0px #ff007a66 !important;

}

.event-list-content ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.event-list-content ul li {
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #ff007a;
}

.event-on-trend .col-2 p {
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
    color: #47759d;
    margin-bottom: 15px;
    position: relative;
    z-index: 8;
}

.event-on-trend .filter-form-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.event-on-trend .filter-form-list li:first-child {
    display: none;
}

.event-on-trend .filter-form-list li {
    width: 22%;
    padding: 25px 10px;
    text-align: center;
    color: #002691;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    background-color: #f5faff;

}

.event-on-trend .filter-form-list li:hover {
    background-color: #e83e8c;
    color: #fff;
    box-shadow: 0px 10px 19px 0px #ff007a66 !important;
    transition: all 0.5s ease;
}

.event-on-trend .filter-form-list li:hover:after {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
}

/* Css for owl-nav  */

.owl-nav{
    margin-bottom: -12px;
    padding: 30px 0;
}
.owl-nav button{
    margin: 5px;

}
.owl-nav button span{
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    font-size: 25px;
    line-height: 24px;
    color: #222222;
}
.owl-nav button span:hover{
    background-color: #e83e8c;
    color: #fff;
}

/* Css for footer section  */

.footer {
    min-height: 200px;
    background: #002691;
}

.footer .social-icon {
    display: flex;
    justify-content: center;
    font-size: 35px;
    list-style: none;
    padding: 60px 0;
}

.footer .social-icon li {
    padding: 20px;
    color: #fff;
}


.footer li i {
    color: #fff;
}

.footer li i:hover {
    color: #ff007a;
}

.block-views .single-post {
    box-shadow: 0px 2px 25px 0px rgb(193 193 193 / 20%);
}

.block-views .owl-stage {
    display: flex;
    list-style: none;
}

.block-views .owl-nav {
    text-align: center;
}

.block-views .feeds-content {
    padding: 20px;
    background: #fff;
    z-index: 1;
}

.events-slider p {
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
    color: #47759d;
}

.block-views .view-header h2 {
    font-size: 55px;
}

.block-views-blockfeeds-block-1 {
    background: #f6fbff;

}

.feeds h4 {
    font-size: 19px;

}

.feeds h4 a {
    text-decoration: none;
    color: #002691;
}

.feeds h4 a:hover {
    color: #e83e8c;
    transition: all 0.5s ease;
}

/* Footer Scroll To Top. */

.scrolltop {
    position: fixed;
    display: none;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    line-height: 42px;
    border-radius: 50%;
    background: #e83e8c !important;
    color: #fff;
    font-size: 30px;
    z-index: 20;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}

.scrolltop-icon {
    border-radius: 50%;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.views-exposed-form .js-form-item-field-event-trend-taxonomy-target-id {
    width: 100%;
}

.views-exposed-form .js-form-item-field-event-trend-taxonomy-target-id label {
    display: none;
}

.js-form-item-field-event-trend-taxonomy-target-id select {
    display: none;
}

#views-exposed-form-event-block-1 .js-form-wrapper input {
    display: none;
}
.navbar {
    position: relative;
    display: flex;
    background: gray;

}

.navbar .logo {
    font-size: 25px;
    color: white;
    padding: 15px 24px;
    text-decoration: none;
    font-weight: 900;
}

.nav-items {
    color: aliceblue;
    background-color: gray;
    margin: auto;
    list-style: none;
    display: flex;
    padding-left: 520px;
}

.nav-items li {
    padding: 14px 11px 16px 15px;
}

/* css for hamburger */

.hamburger {
    position: absolute;
    right: 4px;
    top: 7px;
    visibility: hidden;
}

.hamburger .bar {
    border: 1.5px solid white;
    margin: 9px;
    display: block;
    width: 32px;
    background: #fff;
}


.nav-items-1 {
    position: relative;
    top: 60px;
    z-index: 999;
    align-items: center;
    flex-direction: column;
    color: #e83e8c;
    background-color: #fff;
    margin: auto;
    list-style: none;
    display: flex;
    padding-left: 0;
}
.nav-items-1 > li {
    padding-top: 12px;
}
.nav-items-1 li{
    text-decoration: none;
    margin-bottom: 10px;
}

.nav-items-1 li a{
    text-decoration: none;
    color: #e83e8c;
    list-style: none;
}
.hide{
    background:#002691;
}

/* Mobile Responsive */

@media only screen and (max-width: 768px) {
    .header .nav-menu {
        margin: 0;
        padding: 30px 0;
    }
    .bar{
        color: #fff !important;
    }
    .hamburger {
        right: 0;
        position: absolute;
        visibility: visible;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        align-items: center;
        padding-left: 18px;
        padding-top: 40px;
    }

    .block-views-blockbanner-block-1 .views-field-field-image {
        display: none;
    }

    .event-on-trend .filter-form-list li {
        width: 100%;
    }

    .event-speakers li {
        max-width: 100%;

    }

    .join-event .col-1, .col-2 {
        max-width: 100%;
    }

    .join-event .col-1 {
        margin-left: -17px;
    }

    .join-event .col-2 {
        margin: 15px;
    }

    .join-event .col-2 {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .join-event li {
        width: 100%;
    }

    .event-speakers li {
        width: 80%;
    }

    /* Css for event trend sction */

    .event-on-trend .col-1 {
        max-width: 100%;
        margin-left: -134px;
    }

    .event-on-trend .col-2 {
        max-width: 100%;
    }

    .event-on-trend .filter-form-list {
        padding: 0;
    }

    .event-list-content {
        margin: 0 20px;
        padding: 50px;
    }

    .header .nav-menu li {
        display: none;
    }

    /* Css for scrolltop */
    .scrolltop {
        display: none;
    }
}


/* Ipad Responsive */

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .join-event {
        padding-top: 200px;
    }

    .block-views-blockbanner-block-1 .views-field-field-image {
        display: none;
    }

    .event-on-trend .col-2 {
        max-width: 70% !important;
    }

    .scrolltop {
        display: none;
    }
}

/* Breadcrumb */

.breadcrumb{
    padding: 20px;
}

.breadcrumb ol li a{
 color: #002691;
 text-decoration: none;
}

.breadcrumb ol li a:hover{
    color: #ff007a;
}
.form-textarea-wrapper textarea {
    border-color: #ccc;
}
.form-textarea-wrapper textarea {
    border-color: #ccc;
}
